.left_menu
  .link.header
    Info
  .elements
    .link
      = link_to "Change&nbsp;log", { :action => "changes" }
    .link
      = link_to "TODO", { :action => "todo" }
    .link
      = link_to "Related projects", { :action => "related_project" }
    .link
      = link_to "How download / install", { :action => "install" }

