#left_menu
  #link
    Infos
  #link
    = link_to "Related projects", { :action => "related_project" }
  #link
    = link_to "How download / install", { :action => "install" }
  #link
    = link_to "Change&nbsp;log", { :action => "changes" }
