Welcome to the Open Flash Chart 2 rails plugin project home page.
%br
%br
This plugin is based on great open flash chart project, go to:
=link_to 'http://teethgrinder.co.uk/open-flash-chart-2', 'http://teethgrinder.co.uk/open-flash-chart-2'
for more details about swf and javascript files.
%br
%br
Small FAQ is available
=link_to 'here.', {:controller => :infos}
There are information about instalation from
=link_to 'git repository', 'http://github.com/korin/open_flash_chart_2_plugin/tree/master'
\.
Go to
=link_to 'installation instruction', {:controller => :infos, :action => :install}
to start.
%br
%br
//You wanna help? Why not?
Help is welcome.
%lu
  %li
    Improve code(it isn't perfect I'm sure) and send it to me by
    =mail_to 'lisukorin@gmail.com', 'email'
    \.
  %li
    Make a proposal of changes.
  %li
    Write a post about it. (don't forget to check
    =link_to 'Related projects', {:controller => :infos, :action=>:related_project}
    ).
  %li
    Donate ;)
%br
%br
- if Rails.env == "production"
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8124173476627883";
  /* charts 1 */
  google_ad_slot = "2869183983";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"

  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8124173476627883";
  /* charts 2 */
  google_ad_slot = "5550207787";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
