Welcome to the Open Flash Chart 2 rails plugin project.
%br
%br
This plugin is based on great open flash chart project, go to:
=link_to 'http://teethgrinder.co.uk/open-flash-chart-2', 'http://teethgrinder.co.uk/open-flash-chart-2'
for details.
%br
%br
Help and some answers are available  
=link_to 'here', {:controller => :infos}
\. There are information about instalation from 
=link_to 'git repository', 'http://github.com/korin/open_flash_chart_2_plugin/tree/master'
, mailing list: 
=link_to 'google groups', 'http://groups.google.com/group/OpenFlashChart2'
, bug system: 
=link_to 'trac site', 'http://openflashchart2.devjavu.com/'
and etc.
%br
%br
You wanna help? Why not?
%lu
  %li
    Improve code(it is'nt perfect I'm sure for that) and send it to me (by 
    =mail_to 'lisukorin@gmail.com', 'email'
    or 
    =link_to 'google groups' ,'http://groups.google.com/group/OpenFlashChart2'
    ).
  %li
    Make a proposal of changes.
  %li
    Write a post abaut it. (don't forget to check
    =link_to 'Related projects', {:controller => :infos, :action=>:related_project}
    ).
  %li
    Make a layout for this project page which is also sample application (go to 
    =link_to 'Download/install', {:controller => :infos, :action=>:install} 
    for info how get that application).
  %li
    Or do anything else, there is no option 'Donate' for now ;).