If You wanna documentation for plugin <b>clone</b> it from github repo and go to <b>doc</b> directory then run <b>index.html.</b>
%br
Go to section 
= link_to 'Info/How download / install', {:controller=> :infos, :action => :install}
for info how get plugin.