%h3
  Here can be found some basic examples of charts.

- if Rails.env == "production"
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8124173476627883";
  /* charts 1 */
  google_ad_slot = "2869183983";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"

  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8124173476627883";
  /* charts 2 */
  google_ad_slot = "5550207787";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
