%h3
  = "#{@name} chart"

= @graph


#note
  code viewer comming soon...
%br
For now You can grab this sample application and check <b>chart_examples_controller</b> and <b>chart_ofc2_controller</b>.
%br
Go to 
= link_to 'Info/How download / install', {:controller=> :infos, :action => :install}
to learn how to do that.