#info_link
  %h4
    0.2 beta-1
#info_description
  %lu
    %li
      change README - add description, install section and info about contact
    %li
      make examples with basic charts
    %li
      compare plugin with php library and add missing class/methods
#info_link
  %h4
    0.1 alpha
#info_description
  %lu
    %li
      rewrite php library
