%span
  Here some info abaut related project, standard questions etc.
  %hr
  The best place to ask questions or post bug reports is google groups
  %br
  =link_to 'google groups' ,'http://groups.google.com/group/OpenFlashChart2'
  %hr
  Or you can contact me personally about Open Flash Chart by email:
  %br
  =mail_to 'lisukorin@gmail.com' ,'lisukorin@gmail.com'
  %br
  Please mention 'open flash chart' in the subject line, else my email filter will think it is spam and delete your message. 