For rails >= 3.1 add it to Gemfile
%br
.code_example
  %pre{:class => "brush: bash;"}
    gem 'ofc2'
%br
See
= link_to "Charts", {:controller => :chart_examples}
section for usage examples.
%br
Grab sample application ( #{link_to "this project site", "https://github.com/korin/open_flash_chart_2"}).
%br
%hr
I drop support for RoR older than 3.1
%br
%br
- if Rails.env == "production"
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8124173476627883";
  /* charts 1 */
  google_ad_slot = "2869183983";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"

  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8124173476627883";
  /* charts 2 */
  google_ad_slot = "5550207787";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
