There is no any download section!
%br
Clone it from github/gitorious repository.
#note
  You can clone main tree, or latest stable tag.
  %br
  See change log for more info abaut stable versions.
%hr
  Github repo:
#code
  #comment
    go to plugins directory
  #command
    cd vendor/plugins
  #comment
    clone git repo
  #command
    git clone git://github.com/korin/open_flash_chart_2.git
  #comment
    go to plugin
  #command
    cd open_flash_chart_2
  #comment
    copy important files to public directory
  #command
    cp open-flash-chart.swf ../../../public
    %br
    cp swfobject.js ../../../public/javascripts
    %br
    cp -r json ../../../public/javascripts
%hr
  Gitorious repo:
#code
  #comment
    do action like above, but change link to repo
  #command
    git clone git://gitorious.org/open_flash_chart_2/mainline.git

%hr
That's all, now You can use that plugin.
%br
See Charts section for examples or Documentation for code documentation (rdoc).