For rails >= 3.1 add it to Gemfile
%br
.code_example
  %pre{:class => "brush: bash;"}
    gem 'ofc2'
%br
See
= link_to "Charts", {:controller => :chart_examples}
section for usage examples.
%br
Grab sample application ( #{link_to "this project site", "https://github.com/korin/open_flash_chart_2"}).
%br
%hr
I drop support for RoR older than 3.1
