= javascript_include_tag 'syntaxHighlight/shBrushBash.js'
There is no download section!
%br
Clone it from github repository.
#note
  You can clone main tree, or latest stable tag.
  %br
  See change log for more info about stable versions.
%hr
  Clone plugin:
#code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:install_plugin]
%br
That's it, now You can use that plugin.
%br
See Charts section for examples. Read also README file from plugin directory for configuration and code example.
%br
#note
  Remember that plugin is using json.
  #code_example
    - _code = "\# just install as gem \n sudo gem install json"
    %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= _code
%hr
  Grab sample application (this project site):
#code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:install_sample_app]
#note
  Remember that application is using haml.
  #code_example
    - _code = "\# just install as gem \n  sudo gem install haml"
    %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= _code

<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = '/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
</script>