#info_link
  %h4
    Performance
#info_description
  %lu
    %li
      check performance
#info_link
  %h4
    Clean code
#info_description
  %lu
    %li
      make code cleaner and smaller
#info_link
  %h4
    Documentation
#info_description
  %lu
    %li
      describe class and methods
    %li
      describe instance variables
    %li
      present examples code in Charts section
