%html{ html_attrs('en-us')}
  %head{ :name => "Open Flash Chart 2 Rails Plugin"}
    %title Open Flash Chart 2 Rails Plugin
    %meta{:name=>'verify-v1', :content=>'tYalPR5Y3sLQLP3wHs44Ohc2P5ddwDrV/hYpOsXyQjQ='}
    %meta{:name=>"description", :content=>"This site is about open flash chart rails plugin based on open flash chart project version 2."}
    %meta{:name=>"keywords", :content=>"ofc2 open flash chart 2 rails plugin example project sample application"}
    %meta{:'http-equiv'=>'Content-type', :content=>'text/html;charset=utf-8'}
    %meta{:name=>'Content-Language', :content=>'en-us'}
    = stylesheet_link_tag "main" 
    = javascript_include_tag :defaults
  %body
    #site
      =render :partial => 'share/main_menu'
      #content
        = yield
